.git
.idea
vendor/
api/
bin/
deployments/
internal/app/repository/mock/
internal/app/service/mock/
# **/*_mock.go
migrations/
.dockerinore
.git/
.gitignore
debug.log
docker-compose.dev.yml
docker-compose.prod.yml
docker-compose.yml
README.md
