# MongoDB
MONGO_URI="mongodb://user:userpassword@localhost:30001/walk?authSource=admin&replicaSet=rs0"
MONGO_URI_TEST="mongodb://user:userpassword@localhost:30001/walk_test?authSource=admin&replicaSet=rs0"
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=rootpassword
MONGO_INITDB_DATABASE=walk
MONGO_INITDB_USERNAME=user
MONGO_INITDB_PASSWORD=userpassword
MONGO_REPLICA_SET_NAME=rs0

# GIN
PORT=8080
GIN_MODE=debug